* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
    margin: 0;
    color: #E6E6FA;
    /*overflow: hidden*/
    
}

header {
    width: 100%;
    background: rgb(3,9,4);
    background: linear-gradient(90deg, rgba(3,9,4,1) 0%, rgba(58,32,87,1) 100%);
    padding: 20px 150px ;
}

#logo {
    height: 50px;
    width: 50px;
    margin-right: 0;
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 500px;
}


.menu   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-align: center;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
 
}

.bgimg {
    background-image: url("../webmanagementhk/img/hkskylinesmall.png");
    width: 150px;
    height: 150px;
  
   
}

/*.bg-image img {
   padding: 5% 0 0 5%;
   
}*/



.hero-content {
    width: 50%; 
    flex-basis: 50%;
    padding-right: 50px;
    
}

h1 {
    margin-bottom: 25px;
    font-size: 2rem;
}

button {
    padding: 15px;
    background-color: rgb(22, 34, 34);
    color: white;
    font-weight: 800;
    margin: 50px 0 50px 0
}

li {
    list-style: none;
}


/*.about {
    width: 100%;
    
    background: rgb(59,48,143);
    background: linear-gradient(90deg, rgba(59,48,143,1) 0%, rgba(121,44,207,1) 100%);
    padding: 50px 150px 150px 150px;
}

.quote {
    width: 100%;
    
    padding: 150px;
    background: rgb(3,9,4);
    background: linear-gradient(90deg, rgba(3,9,4,1) 0%, rgba(58,32,87,1) 100%);
    color: white;
    }

.contact {
    width: 100%;
   
    background-color:rgb(40, 105, 56);
    padding: 20px 150px 100px;
}

footer {
    width: 100%;
    height: 50px;
    background-color:rgb(40, 58, 105);
    padding: 20px
}

@media screen and (min-width:600px) {  
    .img-container img {
      display: none;
    }
  }